/*........ specification ........*/
body {
    margin: 0;
    padding: 0;
}

div, p, form, input, a, span, button {
    box-sizing: border-box;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a, a:hover, a:active {
    text-decoration: none;
}

a, button, input {
    transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
    outline: none;
}
/*........ specification ........*/

body{
    background-color: #232221;
}

h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 10vh;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-search {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#serch {
    margin-top: 50%;
    width: 80%;
    height: 40px;
    background-color: #232221;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    color: #ffffff;
}

button {
    height: 55px;
    width: 55px;
    background-color: #232221;
    border: 2px solid #ffffff;
    border-radius: 50px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

button svg {
    height: 35px;
    width: 25px;
    fill: #ffffff;
    transition: fill 0.3s ease;
}

button:hover svg path{
    fill: black;
    transition: fill 0.3s ease;
}

button:hover {
    background-color: #ffffff;
}

@media (hover: none) {
    button:active {
        background-color: #ffffff;
    }
}

.contact-us {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us a:first-child {
    margin-left: 25px;
    margin-right: 10px;
}

.contact-us a:not(:first-child) {
    margin-right: 20px;
}

.contact-us svg path{
    fill: #ffffff;
    transition: fill 0.6s ease;
}

.contact-us svg:hover path {
    fill: black;
}
  
@media (hover: none) {
    .contact-us svg:active path {
      fill: black;
    }
  }
